/*.saved-portion {
  display: flex;
  flex-direction: column;

  .project-area {
    display: flex;

    div {
      background-color: pink;
      height: 50px;
      width: 50px;
      margin: 5px;
    }
  }
}*/