  .project-area {

    .proj-name {
      text-align: center;
    } 
    
    .saved-palette-disp {
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid #fff 3px;

      h3 {
        font-family: $accent-font;
      }

      .fas {
        margin: 5px;
        font-size: 36px;
        padding-left: 17px;
        margin: auto;
        &:hover {
          color: grey;
        }
      }
    }

    .saved-colors {
      grid-area: colors;
      display: flex;

      div {
        background-color: pink;
        height: 50px;
        width: 50px;
        margin: 5px;
      }
    }

    .saved-palette-disp:hover {
      border: solid #3C3C3C 3px;
      cursor: pointer;
    }
  }
