* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: $main-font;
}

.logo {
  font-family: $accent-font;
  font-size: 50px;
}

.main-colors {
  display: flex;
  justify-content: space-between;
  margin: 1%;

  div {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-end;
    margin: .5%;
    padding: 1%;
    width: 300px;
  }
}

select,
input {
  width: 300px;
  height: 40px;
}

input {
  border-radius: 1px;
  border: solid #C3C3C3 1px;
}

select {
  border: none;
}

button {
  background-color: #C3C3C3;
  width: 300px;
  height: 40px;
  font-size: 18px;
  margin: 25px 0;
}


